#contact {
  display: flex;
  flex-direction: column;
  padding: 0 1.2rem;

  align-items: center;
  .contact-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-width: 650px;
    h1 {
      font-size: 4rem;
    }
  }
  .contact-main-content {
    display: flex;
    flex-direction: row;
    .contact-descriptive-content {
      max-width: 600px;
      margin-right: 2rem;
      .contact-descriptive-heading {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
      .contact-descriptive-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
      }
      .icon-content{
          .icon{
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 1.5rem;
              .fas{
                  background: rgba(178, 219, 213, 0.2);
                  padding: 1rem;
                  border-radius: 1rem;
                  transition: 0.2s linear;
                  &:hover{
                      background: rgba(178,219,213,1);
                  }
              }
             .icon-text{
                 font-size: 1.3rem;
                 margin-left: 2rem;
             } 
          }
      }
    }
    .contact-booking {
      max-width: 600px;
      .calendly-inline-widget{
        
        max-height: 600px;
        height: 600px;
      }
      
    }
  }
}
.contact-reviews{
    background: #fff!important;
}
