//401 to 430

@media (min-width: 401px) and (max-width: 430px) {
  .mobile-menu-wrapper {
    .mobile-menu {
      .menu-item {
        .menu-icons {
          font-size: 1.3rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  #home {
    .headings {
      .home-heading-one {
        font-size: 1.3rem;
      }
      .home-heading-two {
        font-size: 3rem;
      }
      .contact-one {
        font-size: 1rem;
        padding: 0.8rem 1rem;
      }
    }
  }

  #services {
    .section-heading {
      h1 {
        font-size: 2.5rem;
      }
    }
    .services {
      .service {
        .service-details {
          max-width: 17rem;
        }
      }
    }
  }
  #booking {
    .booking {
      padding: 1.9rem;

      .booking-description {
        .booking-heading {
          font-size: 1.3rem;
        }

        .booking-button-wrapper {
          .booking-button {
            font-size: 1rem;
            padding: 0.8rem;
          }
        }
      }
    }
  }

  #projects-wrapper {
    .projects {
      padding: 2rem 2rem 4rem 2rem;

      .project {
        min-height: 80vh;

        .project-content {
          .website-demo {
            padding: 0.8rem;
            font-size: 1rem;
          }
          .project-description{
            line-height: 1.5rem;
            font-size: 1.1rem;
          }
        }
        .project-gallery{
          max-width: 350px;
        }
      }
    }
  }

  #reviews {
    padding: 5rem 3rem;
    .reviews-description {
      h1 {
        font-size: 2.5rem;
      }
      .reviews-description-para {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
      }
      .reviews-description-second-para {
        margin-bottom: 3rem;
      }
    }
  }

  #page-services-wrapper {
    padding: 2rem 3rem;
    .page-services {
      .page-service {
        .page-service-content {
          h1 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1.1rem;
            line-height: 1.6rem;
            text-align: justify;
          }
          img {
            max-width: 6rem;
          }
        }
      }
    }
  }
  #about-wrapper{
    .about-stories{
      .about-story{
        margin-bottom: 6rem;
        .content{
          max-width: 320px;
          .content-one, .content-two{
            line-height: 1.5rem;
          }
          .services-link{
            font-size: 1.1rem;
            padding: 0.9rem;
          }
        }
      }
    }
    .connect{
      max-width: 330px;
      .connect-content{
        line-height: 1.5rem;
        font-size: 1.1rem;
      }
    }
  }

  #contact {
    padding: 0 2rem;
    .contact-main-content{
      .contact-descriptive-content{
        .icon-content{
          .icon{
            i{
              font-size: 1.5rem;
            }
            .icon-text{
              font-size: 1.3rem;
            }
          }
        }
        .contact-descriptive-heading{
          font-size: 1.8rem;
        }
        .contact-descriptive-text{
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
      }
    }
    .contact-heading{
      max-width: 350px;
    }
    .calendly-inline-widget {
      max-width: 390px;
    }
  }
  #footer {
    .footer-part-one {
      .footer-description{
        .footer-hiring{
          font-size: 1.2rem;
          padding: 0.8rem 0.7rem;
        }
      }
      .social-links {
        a {
          img {
            max-width: 10%;
          }
        }
      }
    }
  }
}
