//320 to 359

@media (min-width: 320px) and (max-width: 359px) {
  .mobile-menu-wrapper {
    .mobile-menu {
      .menu-item {
        .menu-icons {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  header {
    .blm {
      .blm-fists {
        font-size: 0.7rem;
        width: 2rem;
      }
      a {
        font-size:0.8rem;
      }
    }
    .navigation {
      padding: 1rem;
      .identity {
        img {
          max-width: 80%;
        }
        a {
          font-size: 1rem;
        }
      }
    }
  }

  #home {
    padding: 2rem 1rem 1rem 1rem;

    .headings {
      .home-heading-one {
        font-size: 1rem;
      }
      .home-heading-two {
        font-size: 1.8rem;
      }
      .contact-one {
        font-size: 0.8rem;
        padding: 0.6rem 0.8rem;
      }
    }
  }

  #services {
    .section-heading {
      h1 {
        font-size: 2rem;
      }
    }
    .services {
      .service {
        .service-details {
          max-width: 13rem;
        }
      }
    }
  }
  #booking {
    .booking {
      padding: 1.5rem;

      .booking-description {
        .booking-heading {
          font-size: 1rem;
        }
        .booking-content{
          line-height: 1.2rem;
        }

        .booking-button-wrapper {
          .booking-button {
            font-size: 0.8rem;
            padding: 0.6rem 0.6rem;
          }
        }
      }
    }
  }

  #projects-wrapper {
    .projects {
      padding: 2rem 2rem;

      .project {
        min-height: 100vh;
        .project-content {
          .project-description{
            line-height: 1.4rem;
          }
          .website-demo {
            padding: 0.4rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  #reviews {
    .reviews-description {
      h1 {
        font-size: 2rem;
      }
      .reviews-description-para {
        font-size: 1rem;
        margin-bottom: 3rem;
      }
    }
  }

  #page-services-wrapper {
    .page-services-heading{
      h1{
        text-align: center;
      }
    }
    .page-services {
      .page-service {
        .page-service-content {
          h1 {
            font-size: 1.3rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
  #reviews{
    padding: 5rem 2rem;
    .reviews-description{
      .reviews-description-para{
        font-size: 1.2rem;
      }
    }
  }
  .about-stories{
    padding: 0 2rem;
    .about-story{
      .content{
        .content-one{
          line-height: 1.5rem;
        }
      }
    }
  }
  #about-wrapper{
    .connect{
      .connect-heading{
        font-size: 1.4rem;
      }
      .connect-content{
        line-height: 1.5rem;
      }
    }
  }
  #footer{
    padding: 4rem 3rem;
    .footer-part-one{
      .identity{
        p{
          font-size: 1.2rem;
        }
      }
      .social-links{
        a{
          img{
            max-width: 11%;
          }
        }
      }
    }
  }

  #contact {
    padding: 0 2rem;
    .contact-main-content{
      .contact-descriptive-content{
        .contact-descriptive-heading{
          font-size: 1.4rem;
        }
        .contact-descriptive-text{
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
      }
    }
    .contact-heading{
      min-height: 50vh;
      h1{
        font-size: 2rem;
        margin: 2rem 0;
      }
    }
    .calendly-inline-widget {
      max-width: 270px;
    }
  }
}
