//360 to 375

@media (min-width: 360px) and (max-width: 375px) {
  .mobile-menu-wrapper {
    .mobile-menu {
      .menu-item {
        .menu-icons {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .blm{
    a{
      font-size: 1rem;
    }
  }

  #home {
    .headings {
      .home-heading-one {
        font-size: 1.2rem;
      }
      .home-heading-two {
        font-size: 2.6rem;
      }
      .contact-one {
        font-size: 1rem;
        padding: 0.8rem 1rem;
      }
    }
  }

  #services {
    .section-heading {
      h1 {
        font-size: 2.6rem;
        line-height: 3rem;
      }
    }
    .services {
      .service {
        .service-details {
          max-width: 17rem;
          h2{
            font-size: 1.5rem;
          }
          p{
            font-size: 1.1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
  #booking {
    .booking {
      max-height: 500px;
      padding: 1.9rem;

      .booking-description {
        .booking-content{
          line-height: 1.5rem;
        }
        .booking-heading {
          font-size: 1.2rem;
        }

        .booking-button-wrapper {
          .booking-button {
            font-size: 1rem;
            padding: 0.7rem;
          }
        }
      }
    }
  }

  #projects-wrapper {
    .projects {
      padding: 2rem 2rem;

      .project {
        .project-content {
          h1{
            font-size: 1.5rem;
          }
          .website-demo {
            padding: 0.6rem;
            font-size: 1rem;
          }
          .project-description{
            line-height: 1.5rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
.about-stories{
  .about-story{
    .content{
      .content-one{
        line-height: 1.5rem;
      }
    }
  }
}
#about-wrapper{
  .connect{
    .connect-heading{
      font-size: 1.4rem;
    }
    .connect-content{
      line-height: 1.5rem;
    }
  }
}
  #reviews {
    padding: 5rem 2rem;
    .reviews-description {
      margin-bottom: 3rem;
      h1 {
        font-size: 2.5rem;
        text-align: center;
      }
      .reviews-description-para {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        text-align: justify;
      }
    }
  }

  #page-services-wrapper {
    .page-services {
      .page-service {
        .page-service-content {
          h1 {
            font-size: 1.5rem;
          }
          p {
            font-size: 1.2rem;
            line-height: 1.7rem;
            text-align: justify;
          }
        }
      }
    }
  }
  #contact{
    padding: 0 2rem;
    .contact-heading{
      h1{
        font-size: 2.2rem;
      }
    }
    .contact-main-content{
      .contact-descriptive-content{
        .contact-descriptive-text{
          font-size: 1.2rem;
        }
      }
    }
  }
#footer{
  padding: 4rem 3rem;
  .footer-part-one{
    .social-links{
      a{
        img{
          max-width: 12%;
        }
      }
    }
  }
}
  #contact {
    .calendly-inline-widget {
      max-width: 320px;
    }
  }
}
