/*768 to 900 for SMALL IPADS*****************************/
@media (min-width: 768px) and (max-width: 900px) {
    .mobile-menu-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobile-menu {
        position: fixed;
        bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2b616d;
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
        z-index: 10;
  
        .menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          .menu-icons {
            font-size: 2rem;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 0.2rem;
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 2rem;
          }
          .menu-item-space {
            margin-right: 1rem;
          }
        }
      }
    }
    header {
      .blm {
        padding: 1.5rem;
        a {
          font-size: 1.7rem;
        }
        .blm-fists {
          font-size: 1.5rem;
          width: 4rem;
        }
      }
      .navigation {
        display: none;
      }
    }
    #home {
      min-height: 60vh;
      .headings {
        align-items: center;
        .contact-one {
          font-size: 1.5rem;
          padding: 1.3rem;
        }
      }
    }
    #mockups {
      .mockups {
        img {
          max-width: 60%;
        }
        .mobile {
          max-width: 35%;
        }
      }
    }
    #services {
      .section-heading {
        h1 {
          font-size: 5rem;
        }
      }
      .services {
        justify-content: center;
        .service {
          flex-basis: 47%;
        }
      }
    }
    #booking {
      .booking {
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        img {
          max-width: 60%;
          margin-bottom: 2rem;
        }
        .booking-description {
          max-width: 600px;
          align-items: center;
          .booking-heading {
            font-size: 2.5rem;
          }
        }
      }
    }
    .projects{
      .project{
        flex-direction: column;
        .project-gallery{
          max-width: 600px;
        }
      }
    }
    #footer {
      min-height: 70vh;
      .footer-part-one {
        .footer-description {
          p {
            font-size: 1.6rem;
            margin-bottom: 3rem;
          }
        }
        .social-links {
          margin: 4rem 0;
          a {
            img {
              max-width: 7%;
            }
          }
        }
      }
    }
  }
  