#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: $section-padding;
  /*background: rgba(178,219,213,0.1);*/
  min-height: 100vh;

  .section-heading {
    h1 {
      font-size: 4rem;
      margin-bottom: 5rem;
    }
  }

  .services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 1400px;
    .service {
      display: flex;
      flex-basis: 32%;
      margin: 0rem 1rem 5rem 0rem;
      img {
        max-width: 4rem;

        background: rgba(178, 219, 213, 0.2);
        border-radius: 1rem;
        padding: 0rem 0.8rem;
        margin-right: 1rem;
        transition: 0.5s linear;
        &:hover {
          background: rgba(178, 219, 213, 1);
          transform: rotate(360deg);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
      }
      .service-details {
        max-width: 350px;

        h2 {
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
  .more-services {
    a {
      font-weight: 600;
      color: #000;
      font-size: 1.2rem;
      text-decoration: none;
      transition: 1s linear;
      &:hover {
        text-decoration: underline;
      }
    }

    .right-arr {
      margin-left: 0.5rem;
    }
  }
}
