/*320 to 359********************************************************************************/
@media (min-width: 320px) and (max-width: 359px) {
    .mobile-menu-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .mobile-menu {
        position: fixed;
        bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2b616d;
        padding: 0.8rem;
        border-radius: 1rem;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
        z-index: 10;
  
        .menu-item {
          display: flex;
          justify-content: center;
          align-items: center;
          .menu-icons {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 1);
            margin-bottom: 0.2rem;
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.9rem;
          }
          .menu-item-space {
            margin-right: 0.7rem;
          }
        }
      }
    }
    header {
      .blm {
        a {
          font-size: 0.8rem;
        }
      }
      .navigation {
        .navigation-links {
          display: none;
        }
      }
    }
  
    #home {
      min-height: 50vh;
      .headings {
        align-items: center;
        .home-heading-one {
          font-size: 1.2rem;
          margin-bottom: 0.8rem;
        }
        .home-heading-two {
          font-size: 2.3rem;
          margin-bottom: 2rem;
        }
        .contact-one {
          font-size: 1rem;
          padding: 0.8rem 1rem;
        }
      }
    }
    #mockups {
      padding: 2rem;
      justify-content: center;
      .mockups {
        img {
          max-width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
    #services {
      padding: 1.2rem;
      .section-heading {
        h1 {
          font-size: 2.5rem;
          margin-bottom: 3rem;
        }
      }
      .services {
        .service {
          img {
            max-height: 5rem;
          }
          margin: 0rem 0rem 3rem 0rem;
          flex-basis: initial;
          .service-details {
            max-width: 13rem;
            h2 {
              font-size: 1.1rem;
              margin-bottom: 0.7rem;
            }
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    #booking {
      flex-direction: column;
      padding: 2rem 1rem;
      .booking {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        img {
          max-width: 60%;
        }
        .booking-description {
          margin-top: 1rem;
          max-width: 100%;
          padding: 1.4rem;
          h1 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
          }
          p {
            font-size: 0.8rem;
          }
          .booking-button-wrapper {
            margin-top: 1rem;
            .booking-button {
              font-size: 0.8rem;
              padding: 0.6rem 0.6rem;
            }
          }
        }
      }
    }
    #trust {
      min-height: 50vh;
      padding: 2rem 1rem;
      .trusted-brands {
        align-items: center;
        h1 {
          margin-bottom: 1.5rem;
          font-size: 1.5rem;
        }
        .brands {
          img {
            max-width: 35%;
          }
        }
      }
    }
    /*PROJECTS CODE START************************************************/
    .projects-heading {
      h1 {
        font-size: 3rem;
      }
    }
    .projects {
      padding: 2rem 2rem;
      .space-btm {
        margin-bottom: 3rem;
      }
      .project {
        flex-direction: column;
        .project-gallery {
          max-width: 300px;
          margin-bottom: 1rem;
        }
        .project-content {
          h1 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
          .date {
            font-size: 1rem;
          }
          .project-description {
            font-size: 1rem;
            margin-bottom: 1rem;
          }
          .website-demo {
            padding: 0.4rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  
    #reviews {
      display: flex;
      flex-direction: column;
      .reviews-description {
        h1 {
          font-size: 3rem;
        }
        .reviews-description-para {
          font-size: 1.2rem;
          margin-bottom: 3rem;
        }
      }
      .reviews {
        flex-direction: column;
        .review-card {
          padding: 1.5rem;
          .reviews-card-detail {
            font-size: 1.2rem;
          }
        }
        .card-one {
          margin-right: 0rem;
          margin-bottom: 2rem;
        }
      }
    }
    /*PROJECTS CODE END**************************************************/
  
    /*ABOUT CODE START*************************************************/
    .about-heading {
      min-height: 20vh;
      .heading-two {
        display: none;
      }
    }
    .about-stories {
      .about-story {
        flex-direction: column;
        margin-bottom: 3rem;
        .content {
          max-width: 250px;
        }
        .about-image {
          max-width: 90%;
          margin-bottom: 2rem;
        }
        .svg-creative {
          max-width: 70%;
          margin-bottom: 3rem;
        }
        .content {
          order: 1;
          .content-one,
          .content-two,
          .content-three {
            font-size: 1rem;
          }
          .content-heading {
            font-size: 1.5rem;
          }
          .services-link {
            font-size: 0.9rem;
            padding: 0.7rem;
          }
        }
      }
      .about-story-three {
        margin-bottom: 6rem;
      }
    }
    .connect {
      max-width: 250px;
      padding: 2rem;
      margin: 2rem 0;
      .connect-heading {
        font-size: 1.5rem;
      }
      .connect-content {
        font-size: 1rem;
      }
      .connect-button {
        font-size: 0.8rem;
        padding: 0.8rem;
      }
    }
    /*ABOUT CODE END*************************************************/
    /*CONTACT CODE START*********************************************/
    #contact {
      .contact-heading {
        max-width: 300px;
        min-height: 40vh;
        h1 {
          font-size: 2.5rem;
        }
      }
      .contact-main-content {
        flex-direction: column;
        .contact-descriptive-content {
          margin-bottom: 2rem;
          .contact-descriptive-heading {
            font-size: 1.5rem;
          }
        }
        .contact-booking {
          .calendly-inline-widget {
            max-width: 270px;
          }
        }
      }
    }
    #reviews {
      margin-top: -1rem;
    }
    /*CONTACT CODE END*********************************************/
  
    #footer {
      min-height: 70vh;
      padding: 2rem 2rem;
      .footer-part-one {
        .identity {
          margin-bottom: 1rem;
          p {
            font-size: 1.3rem;
          }
        }
        .footer-description {
          p {
            font-size: 1rem;
          }
          .footer-hiring {
            font-size: 0.7rem;
            padding: 0.6rem;
          }
        }
        .social-links {
          margin: 2rem 0rem;
          a {
            img {
              max-width: 8%;
            }
          }
        }
      }
    }
  }