@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import "variables";
@import "header";
@import "index";
@import "services";
@import "projects";
@import "about";
@import "contact";
@import "trust";
@import "footer";
/*MOBILES*/
@import "responsive-320";
@import "responsive-360";
@import "responsive-376";
@import "responsive-401";

/*IPADS*/
@import "responsive-768";
@import "responsive-901";

/*LAPTOPS*/
@import "responsive-1025";
@import "responsive-1281";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}
