@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import "variables";
@import "header";
@import "index";
@import "projects";
@import "about";
@import "contact";
@import "trust";
@import "footer";
/*MOBILES*/
@import "small-mobiles";
@import "medium-mobiles";
@import "medium-large-mobiles";
@import "large-mobiles";
/*IPADS*/
@import "small-ipads";
@import "large-ipads";
/*LAPTOPS*/
@import "medium-laptops";
@import "large-laptops";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
}
