@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Manrope", sans-serif;
    }
}

@layer components {
    .headText {
        @apply font-bold text-sm text-subtle uppercase tracking-wider
    }

    .heroText {
        @apply font-bold text-3xl capitalize
    }

    .image {
        @apply rounded-xl mt-6
    }

    .primaryBtn {
        @apply text-xs capitalize text-white rounded-lg px-4 py-3 bg-primary flex justify-center items-center flex-1 gap-2
    }

    .subHead {
        @apply text-xs font-semibold tracking-wider uppercase text-subtle
    }
}

@layer utilities {
    .container {
        width: 100%;
        max-width: 1206px;
        margin: 0 auto;
        padding: 20px 20px;
    }
}

@theme {
    --color-primary: #111111;
    --color-secondary: #555555;
    --color-subtle: #A3A3A3;
    --color-light: #EEEEEE;

    --color-bgMain: #f5f5f5;
    --color-bgCard: #ffffff;
    --color-iconBg: #eeeeee;
}

/* headings: 700 */
/* sub-headings: 600 */
/* body: 400 */
/* labels: 500 */